name: pull-requests

services:
  app:
    build: ./frontend
    image: frontend
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - DATABASE_NAME=pull-request-app
      - COLLECTION_PULL_REQUESTS=pull-requests
    ports:
      - 3000:3000
    depends_on:
      - api
    volumes:
      - ./frontend:/frontend
      - ./frontend/public/assets:/frontend/public/assets
      - /frontend/node_modules

  api:
    build:
      context: ./api
      secrets:
        - npmrc
    image: api
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - DATABASE_NAME=pull-request-app
      - COLLECTION_PULL_REQUESTS=pull-requests
    volumes:
      - ./api:/api # Bind mount to sync local files with the container
    command: npm run dev
    ports:
      - 3001:3000
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
  data-volume:

secrets:
  npmrc:
    file: ${HOME}/.npmrc
