$green: #44b700;

.ticket-container {
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .title {
            font-weight: bold;
        }

        .subtitle {
            font-size: 12px;
        }
    }

    // ::-webkit-scrollbar {
    //     -webkit-appearance: none;
    //     width: 7px;
    // }

    // ::-webkit-scrollbar-thumb {
    //     border-radius: 4px;
    //     background-color: rgba(255, 255, 255, 0.1);
    //     box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    // }

    .repo-container {
        max-height: 170px;
        overflow-y: auto;
        overflow-x: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }


    .repo-review {
        margin: 0 1px;
        padding: 1px;
        border-color: rgba(0,0,0,.3);
        border-width: 1px;
        color: rgba(0,0,0,.6);
    }

    .footer {
        padding: 5px;
        background-color: rgba(255,166,0,0.575);

        .text {
            text-transform: uppercase;
            text-align: center;
            color: rgba(0,0,0,0.7)
        }
    }
}