.pressing {
    overflow: hidden;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,0));
    animation: growing 3s;
}

@keyframes growing {
    0% { background-position: 0% };
    100% { background-position: -100% };
}

.branch-chip {
    color: rgba(0,0,0,.6) !important;
}