$green: #44b700;

.ticket-container {
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgb(230, 230, 230);

        .title {
            color: rgba(0, 0, 0, .5);
            font-weight: bold;
        }

        .subtitle {
            color: rgba(0, 0, 0, .4);
            font-size: 12px;
        }
    }

    .repo-container {
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
        border-left: solid 1px lightgray;
        border-right: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .list-item {
            .user-badge {
                background-color: white;

                &.approved {
                    color: #44b700;
                }

                &.change {
                    color: red;
                }
            }
        }
    }


    .repo-review {
        margin: 0 1px;
        padding: 1px;
        border-color: rgba(0,0,0,.3);
        border-width: 1px;
        color: rgba(0,0,0,.6);
    }

    .footer {
        padding: 5px;
        background-color: rgba(255,166,0,0.575);

        .text {
            text-transform: uppercase;
            text-align: center;
            color: rgba(0,0,0,0.7)
        }
    }
}